.MemberEventsBg {
  width: 100%;
}
.memberEventList {
  background-color: #36a9e1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px 150px 50px 150px;
  grid-gap: 20px;
  height: 100%;
  text-align: center;
}
.eventTitle_Head {
  background-color: #36a9e1;
  text-align: center;
  padding: 90px 0 30px 0px;
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 1px 1px 15px black;
}
.eventRender {
  background-color: #fff;
  display: grid;
  grid-template-areas:
    "announcement_Img"
    "event_Title"
    "event_Date"
    "event_Content"
    "readMoreEvent";
  box-shadow: 1px 1px 10px black;
}

.announcement_Img {
  width: 100%;
  margin-bottom: 6px;
  height: 200px;
  object-fit: cover;
}

.event_Title {
  text-align: left;
  font-size: 22px;
  font-weight: 700;
  margin: 10px 20px 0px 20px;
  height: 25px;
  display: inline-block;
  word-break: break-word;
  overflow: hidden;
}

.event_Date {
  text-align: left;
  font-size: 15px;
  margin: 10px 20px 0px 20px;
  height: 25px;
  display: inline-block;
  word-break: break-word;
  overflow: hidden;
}

.event_Content {
  text-align: left;
  font-size: 15px;
  margin: 0px 20px 5px 20px;
  height: 35px;
  display: inline-block;
  word-break: break-word;
  overflow: hidden;
}

.readMoreEvent {
  text-decoration: none;
  background-color: #00142a;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  margin: 0px 20px 15px 20px;
}

.readMoreEvent:hover {
  background-color: #009744;
}

.popUpReadmoreEvent {
  display: none;
  background-color: #36a9e1;
}

#memberEventList_id_ {
  background-color: #36a9e1;
  width: 100%;
  margin: auto;
  padding: 0px 50px 50px;
}

.event_TitleRM {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px 1px 5px black;
}

.event_DateRM {
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
  text-shadow: 1px 1px 10px black;
}

.event_ContentRM {
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
  text-shadow: 1px 1px 10px black;
}

.announcement_Img_ {
  width: 100%;
  object-fit: cover;
  height: 400px;
  margin-bottom: 20px;
}

#xbtnReadMore {
  /* background-color: #fff; */
  width: 8%;
  padding: 5px;
  font-size: 18px;
  text-align: center;
  margin-bottom: 18px;
  cursor: pointer;
  border: 2px solid #fff;
  color: #ffff;
  /* background-color: white; */
}

#xbtnReadMore:hover {
  background-color: rgb(240, 240, 240);
  color: black;
}
