.inboxContent {
  padding: 95px 50px 100% 120px;
  background-color: rgb(240, 240, 240);
}
.inboxList {
  /* margin-left: 200px; */
  /* Increased text to enable scrolling */
  /* background-color: rgb(0, 104, 52); */
  /* padding: 95px 0px 0px; */
  /* height: 100%; */
  /* width: 100%; */
  word-wrap: break-word;
  /* table-layout: auto; */
  border-collapse: collapse;
  /* table-layout: fixed; */
  /* width: 500px; */
  /* border-spacing: 15px; */
  table-layout: fixed;
  /* width: 83%; */
  margin-top: 50px;
  position: absolute;
  left: 0;
  right: 0;
  width: 73%;
  margin-left: 310px;
  /* left: 0; */
  /* float: right; */
  /* margin: auto; */
  /* margin-right: auto; */
}
.inboxListBody {
  background-color: rgb(255, 255, 255);

  /* padding-left: 200px; */
  /* margin-left: 180px; Same as the width of the sidenav */
  font-size: 16px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  height: 50px;
  overflow-y: scroll;
  /* height: 100px; */
}

.inboxList th {
  background-color: #2b0063;
  text-align: center;
  padding: 19px;
  color: #fff;
  overflow-y: hidden;
  overflow-x: hidden;
}

.inboxList td {
  /* background-color: #36a9e1; */
  text-align: center;
  /* width: 100%; */
  padding: 10px 0px 10px 0px;
  /* border-color: black; */
  border-bottom: 1pt solid rgb(223, 223, 223);
  padding: 10px;
  /* height: 20px; */
  overflow-y: hidden;
  overflow-x: hidden;
  word-wrap: break-word;
}
.inboxList tr {
  background-color: rgb(255, 255, 255);
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  /* height: 20px; */
}
.inboxList tr:not(:first-child):hover {
  transform: scale(1.01);
}

.replyContactMessages {
  color: #fff;
  background-color: green;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.replyContactMessages:hover {
  transform: scale(1.1);
}

.deleteContactMessages {
  color: #fff;
  background-color: rgb(199, 0, 0);
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.deleteContactMessages:hover {
  transform: scale(1.1);
}

/* .input-wrapperContactUs {
    display: inline-block;
    position: relative;
  } */
.input-wrapperContactUs:after {
  font-family: "FontAwesome";
  content: "\f002";
  position: absolute;
  text-align: right;
  right: 90%;
  border: none;
  padding-top: 7px;
}
.input-wrapperContactUs {
  position: absolute;
  left: 0;
  margin-left: 310px;
  /* background-color: green; */
  border-color: rgb(245, 245, 245);
}

.inputFilterContactUs {
  padding: 6px;
  padding-left: 40px;
  padding-right: 70px;
  border: none;
  outline: none;
  font-size: 16px;
  /* border-style: 1px rgba(245, 245, 245, 0.123); */
  /* border-radius: 5px; */
}

.floatContactUsMessage_bg {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.575);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.floatContactUsMessage {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  width: 500px;
  /*  height: 100%; */
  background-color: rgb(255, 255, 255);
  padding: 20px 30px 30px 30px;
}

.floatContactUsMessage ul li {
  margin-bottom: 10px;
  list-style: none;
  font-size: 25px;
}

.floatContactUsMessage input,
.floatContactUsMessage button,
.floatContactUsMessage textarea {
  width: 100%;
  height: 30px;
  border: none;
  background-color: rgb(241, 241, 241);
  /* padding: 10px; */
  padding: 10px;
}

.floatContactUsMessage textarea {
  height: 150px;
}

.xBtn {
  /* width: 50px; */
  text-align: right;
  cursor: pointer;
  /* background-color: aqua; */
  /* background-color: #36a9e1; */
}

.floatContactUsMessage input:focus,
.floatContactUsMessage button:focus,
.floatContactUsMessage textarea:focus {
  outline: none;
  background-color: rgb(224, 224, 224);
}

.floatContactUsMessage button {
  background-color: green;
  color: #fff;
  font-size: 20px;
  height: 100%;
  cursor: pointer;
}

.floatContactUsMessage button:focus {
  outline: none;
  background-color: rgb(0, 88, 0);
}

.replyTomess {
  height: 100px;
  overflow-y: scroll;
  /* font-size: 15px; */
}
.replyTomess p,
.replyTo p {
  font-size: 15px;
  /* padding-bottom: 50px; */
}

.messageComp {
  word-break: break-all;
  height: 20px;
  overflow: hidden;
}
