.announcementCont {
  padding: 90px 50px 120px 110px;
  background-color: rgb(240, 240, 240);
}
.AnnouncementBg {
  background-color: rgb(240, 240, 240);
}
#titleMessage {
  color: tomato;
}
.announcementRender {
  background-color: #fff;
  display: grid;
  grid-template-areas:
    "eventAdImg"
    "announcementAdmin_Title"
    "announcementAdmin_Date"
    "event_Content"
    "announcementAdmin_Content";
  box-shadow: 1px 1px 10px black;
  padding-bottom: 30px;
}
.adminAnnouncement_title {
  margin-top: 5px;
  padding: 0px 20px 10px 20px;
  width: 100% !important;

  border-radius: 5px;
  border: 1px solid #c6c6c6;
  transition: all 0.2s ease-in-out;
  outline: none;
  font-size: 20px;
  margin-bottom: 30px;
}

#titleAnnouncementMsg {
  color: red;
  font-size: 20px;
  padding-bottom: 20px;
}

.adminAnnouncement_title:focus {
  border-bottom: 3px solid #006eff;
}
.inputAdmincontent {
  margin-top: 5px;
  padding: 0px 30px 10px 30px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #c6c6c6;
  transition: all 0.2s ease-in-out;
  outline: none;
  font-size: 30px;
}
.inputAdmincontent:focus {
  border-bottom: 3px solid #006eff;
}
.announcementAdmin_Content {
  text-align: left;
  font-size: 15px;
  margin: 0px 20px 10px 20px;
  height: 35px;
  display: inline-block;
  word-break: break-word;
  overflow: hidden;
}

.containerBtnAnnouncement {
  display: grid;
  grid-template-areas: "fileBtnAnnouncement postAnnounBtn";
  /* background-color: aqua; */
}
.fileBtnAnnouncement {
  margin-top: 20px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  /* background-color: #fff; */
}
.inputAdmincontent {
  margin-top: 5px;
  padding: 10px 20px 10px 20px;
  width: 100% !important;
  height: 200px !important;
  border-radius: 5px;
  border: 1px solid #c6c6c6;
  transition: all 0.2s ease-in-out;
  outline: none;
  font-size: 20px;
}
.announcementAdmin_Title {
  text-align: left;
  font-size: 30px;
  font-weight: 700;
  margin: 0px 20px 0px 20px;
  height: 33px;
  display: inline-block;
  word-break: break-word;
  overflow: hidden;
}
.announcementAdmin_Date {
  text-align: left;
  font-size: 15px;
  margin: 10px 20px 0px 20px;
  height: 25px;
  display: inline-block;
  word-break: break-word;
  overflow: hidden;
}
.fa-inbox,
.fa-comment,
.fa-bullhorn,
.fa-calendar-o,
.fa-bar-chart,
.fa-users,
.fa-bar-chart,
.fa-user,
.fa-users,
.fa-envelope,
.fa-list-ul,
.fa-comments {
  margin-left: 10px;
  letter-spacing: 10px;
}

.logout_Admin {
  /* border-top: 1px solid springgreen; */
  /* background-color: springgreen; */
  /* margin-left: 10px; */
  width: 100%;
  letter-spacing: 1px;
  bottom: 0;
  position: absolute;
  margin-bottom: 30px;
  padding: 10px 10px 10px 10px;
  margin-left: 10px;
}

.logout_Admin:hover {
  background-color: #36a9e1;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  /* padding-left: 15px; */
}

.dash:hover {
  background-color: #36a9e1;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}

.postAnnounBtn {
  font-size: 20px;
  border-radius: 5px;
  border: none;
  padding: 15px 0px 15px 0px;
  background-color: #009744;
  color: #fff;
  margin-bottom: 50px;
  margin-top: 10px;
  /* margin-top: -300px; */
  cursor: pointer;
  /* margin-left: 50%; */
}
.postAnnounBtn:hover {
  background-color: #00142a;
}

.AnnouncementAdminTitleTxt {
  font-size: 30px;
  font-weight: 700;
}

.form1 {
  margin-left: 170px; /* Same as the width of the sidenav */

  /* padding: 0px 10px; */
}

.announcementTitleTxt {
  font-size: 30px;
  font-weight: 700;
}
.inputAnnTitle {
  margin-top: 5px;
  padding: 10px 20px 10px 20px;
  width: 100% !important;

  border-radius: 5px;
  border: 1px solid #c6c6c6;
  transition: all 0.2s ease-in-out;
  outline: none;
  font-size: 20px;
  margin-bottom: 30px;
}

.inputAnnTitle:focus {
  border-bottom: 3px solid #006eff;
}

.contentTxtAnnouncement {
  font-size: 30px;
  font-weight: 700;
}

.announcementAdminContent {
  margin-top: 5px;
  padding: 10px 20px 10px 20px;
  width: 100% !important;
  height: 200px !important;
  border-radius: 5px;
  border: 1px solid #c6c6c6;
  transition: all 0.2s ease-in-out;
  outline: none;
  font-size: 20px;
}
.announcementAdminContent:focus {
  border-bottom: 3px solid #006eff;
}

.containerBtnAnnouncement {
  display: grid;
  grid-template-areas: "fileBtnAnnouncement postAnnouncementBtn";
  /* background-color: aqua; */
}
.fileBtnAnnouncement {
  margin-top: 20px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.postAnnouncementBtn {
  font-size: 20px;
  border-radius: 5px;
  border: none;
  padding: 15px 0px 15px 0px;
  background-color: #009744;
  color: #fff;
  margin-bottom: 50px;
  margin-top: 10px;
  /* margin-top: -300px; */
  cursor: pointer;
  /* margin-left: 50%; */
}
.postAnnouncementBtn:hover {
  background-color: #00142a;
}
.announcementListContainer {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  /* padding: 0px 10px; */
  /* background-color: #36a9e1; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px 0px 0px 0px;
  grid-gap: 20px;
  height: 100%;
  text-align: center;
}
.announcementAdminRender {
  background-color: #fff;
  display: grid;
  grid-template-areas:
    "announcementDummyIng"
    "announcement_title_inner"
    "announcement_date_inner"
    "event_Content"
    "announcement_Content_Inner";
  box-shadow: 1px 1px 10px black;
  padding-bottom: 30px;
}

.announcement_title_inner {
  text-align: left;
  font-size: 30px;
  font-weight: 700;
  margin: 10px 20px 0px 20px;
  height: 33px;
  display: inline-block;
  word-break: break-word;
  overflow: hidden;
}
.announcement_date_inner {
  text-align: left;
  font-size: 15px;
  margin: 10px 20px 0px 20px;
  height: 25px;
  display: inline-block;
  word-break: break-word;
  overflow: hidden;
}
.announcement_Content_Inner {
  text-align: left;
  font-size: 15px;
  margin: 0px 20px 10px 20px;
  height: 35px;
  display: inline-block;
  word-break: break-word;
  overflow: hidden;
}

.updateAnnouncementTitle {
  margin-top: 15px;
  width: 60%;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  border: 1.5px solid #c6c6c6;
  transition: all 0.2s ease-in-out;
  outline: none;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.updateAnnouncementBtn {
  /* padding-top: -5px; */
  font-size: 20px;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  border: 10px;
  background-color: #36a9e1;
  color: #fff;
  cursor: pointer;
}
.updateAnnouncementContent {
  margin-top: 15px;
  width: 60%;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  border: 1.5px solid #c6c6c6;
  transition: all 0.2s ease-in-out;
  outline: none;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.inputUpdateContent {
  /* padding-top: -5px; */
  font-size: 20px;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  border: 10px;
  background-color: #36a9e1;
  color: #fff;
}
.deleteAnnouncementBtn {
  width: 90%;
  margin: auto;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #00142a;
  color: #fff;
  margin-top: 20px;
}

.announcementDummyIng {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.profileIcon {
  display: grid;
  grid-template-areas: "profilePicture profileNameHeader";
  right: 0;
  top: 0;
  position: absolute;
  text-decoration: none;
  /* background-color: #009744; */
  height: 100%;
  /* width: 100%; */
}
.profilePicture {
  height: 35px;
  width: 35px;
  margin-right: 7px;
  margin-top: 15px;
  border-radius: 50%;
  /* right: 0;
    top: 0;
    position: absolute;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 50%; */
}
.profileNameHeader {
  font-size: 16px;
  font-weight: 700;
  margin-right: 20px;
  margin-top: 26px;
  border-radius: 50%;
  color: #fff;
}

.profileName:hover {
  color: #00e266;
}

.messageAnnouncementPopUpouter {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.767);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.messageAnnouncement_Content {
  position: absolute;
  left: 500px;
  top: 200px;
  border: solid black 1px;
  /* padding: 10px; */
  background-color: rgb(255, 255, 255);
  text-align: left;
  font-size: 16px;
  width: 400px;
  height: 200px;
  display: grid;
  /* padding: 30px 50px; */
  border: none;
  /* border-radius: 5px; */
  /* display: none; */
  opacity: 1;
  /* padding-bottom: 20px; */
  border-radius: 5px;
  letter-spacing: 1px;
  grid-template-rows: 0.1fr 1fr;
  grid-template-areas: "announcementMsgTitle" "announcementMsg";
}

.announcementMsgTitle {
  background-color: aqua;
  padding: 10px;
  /* height: ; */
  grid-area: announcementMsgTitle;
}

.announcementMsg {
  grid-area: announcementMsg;
  /* background-color: aqua; */
  width: 100%;
  text-align: center;
  font-size: 16px;
  margin-top: 55px;
}
