.Bg {
    background-color: rgb(192, 85, 85);
    width: 100%;
    /* height: 100vh; */
    /* height: 100%; */
    /* margin-left: 200px; */
  }
  
  .AdminAdminListBg {
    background-color: rgb(192, 85, 85);
    /* width: 1000px; */
  
    background-color: rgb(240, 240, 240);
  }
  
  #content {
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    background-color: tomato;
    height: 40%;
    visibility: hidden;
  }
  
  .adminAdminListCont {
    padding: 84px 50px 150px 120px;
  }
  .table10 {
    width: 100%;
  }
  
  .adminListOuter {
    overflow-x: auto;
    overflow-y: auto;
    height: 250px;
    margin-bottom: 50px;
  }
  
  .table10 th {
    background-color: #36a9e1;
    text-align: center;
    padding: 20px;
  }
  
  .table10 td {
    /* background-color: #36a9e1; */
    text-align: center;
    padding: 20px;
  }
  
  .tableAdminList tr:nth-child(even) {
    background-color: #ececec;
  }
  .outerTableAdminList {
    overflow-x: auto;
    overflow-y: auto;
    height: 350px;
    margin-bottom: 50px;
    background-color: #fff;
  
    /* border: none; */
  }
  
  .tableAdminList td {
    /* background-color: #36a9e1; */
    text-align: center;
    /* width: 100%; */
  }
  .tableAdminList {
    width: 100%;
    /* overflow-x: auto;
    overflow-y: auto; */
    /* overflow-y: auto; */
    table-layout: auto;
    border-collapse: collapse;
    /* table-layout: fixed; */
    /* width: 500px; */
    /* border-spacing: 15px; */
    table-layout: fixed;
    width: 100%;
  }
  
  .tableAdminList td {
    padding: 10px 0px 10px 0px;
    /* width: 100%; */
  }
  .tableAdminList th {
    background-color: #02007c;
    text-align: center;
    padding: 19px;
    color: #fff;
    width: 100%;
    /* position: fixed; */
  }
  
  .formBox {
    margin-left: 200px;
    margin-top: 20px;
  }
  
  .editAdminBtn {
    padding: 5px;
    background-color: rgb(255, 174, 0);
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .editAdminBtn:hover {
    transform: scale(1.2);
  }
  
  .deleteAdmin {
    padding: 5px;
    background-color: rgb(216, 0, 0);
    color: #fff;
    border: none;
    cursor: pointer;
  }
  .deleteAdmin:hover {
    transform: scale(1.2);
  }
  
  .dividerTitleFilterAdminList {
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    grid-template-areas: "pendingAdminList input-wrapperAdminList";
    margin-bottom: 10px;
  }
  
  .inputFilterAdminList {
    padding: 6px;
    padding-left: 40px;
    padding-right: 70px;
    border: none;
    outline: none;
    font-size: 16px;
  }
  .input-wrapperAdminList {
    display: inline-block;
    position: relative;
  }
  .input-wrapperAdminList:after {
    font-family: "FontAwesome";
    content: "\f002";
    position: absolute;
    text-align: right;
    right: 90%;
    border: none;
    padding-top: 5px;
  }
  
  .filterAdminBtn {
    padding: 6px;
    border: none;
    background-color: green;
    color: #fff;
    font-size: 16px;
  }
  .filterBtn2:active {
    transform: scale(1.2);
  }
  
  .textAdminList {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    /* margin-top: 20px; */
    padding-top: 5px;
  }
  
  .addNewAdmin {
    margin-left: 83%;
    padding: 15px;
    border: none;
    background-color: green;
    color: #fff;
    font-size: 16px;
    margin-top: -50px;
  }
  
  .addNewAdmin:active {
    transform: scale(1.1);
  }
  
  .form2 {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.575);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    /* opacity: 0.3; */
  }
  .AddNewAdminForm {
    position: absolute;
    left: 500px;
    top: 50px;
    border: solid black 1px;
    padding: 10px;
    background-color: rgb(233, 233, 233);
    text-align: justify;
    font-size: 16px;
    width: 500px;
    display: grid;
    padding: 30px 50px;
    border: none;
    border-radius: 5px;
    display: none;
    /* opacity: 1; */
  }
  
  .AddNewAdminForm input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .AddNewAdminForm label {
    margin-top: 10px;
  }
  
  .AddAdminNow {
    text-align: center;
    margin-top: 20px;
    background-color: #009744;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .AddAdminNow:hover {
    background-color: #007e39;
  }
  .addAdminInfo {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
  
  .AdminListBtns {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "adminListCancelBtn AddAdminNow";
  }
  
  .adminListCancelBtn {
    text-align: center;
    margin-top: 20px;
    background-color: rgb(201, 201, 201);
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .adminListCancelBtn:hover {
    background-color: rgb(177, 177, 177);
  }
  
  .formEditAdmin {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.575);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    /* opacity: 0.3; */
  }
  .editAdminBox {
    position: absolute;
    left: 35%;
    top: 8%;
    border: solid black 1px;
    padding: 10px;
    background-color: rgb(233, 233, 233);
    text-align: justify;
    font-size: 16px;
    width: 500px;
    display: grid;
    padding: 30px 50px;
    border: none;
    border-radius: 5px;
    display: none;
    /* opacity: 1; */
  }
  
  .editAdminBox input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .editAdminBox label {
    margin-top: 10px;
  }
  
  .editAdminConfirm {
    text-align: center;
    margin-top: 20px;
    background-color: #009744;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .editAdminConfirm:hover {
    background-color: #007e39;
  }
  .editAdminInfo {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
  
  .editAdminBtns {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "editAdminCancelBtn editAdminConfirm";
  }
  
  .editAdminCancelBtn {
    text-align: center;
    margin-top: 20px;
    background-color: rgb(201, 201, 201);
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .editAdminCancelBtn:hover {
    background-color: rgb(177, 177, 177);
  }
  