.loginContainer h3 {
  display: none;
  text-align: center;
  background-color: rgb(255, 87, 87);
  color: #fff;
  padding: 7px;
  margin-top: 10px;
  transition: all 0.2s ease-in-out;
  /* border-radius: 5px; */
}

.bgLoginStats {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.575);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.LoginStats {
  position: absolute;
  left: 480px;
  top: 150px;
  border: solid black 1px;
  /* padding: 10px; */
  background-color: rgb(255, 255, 255);
  /* text-align: justify; */
  font-size: 16px;
  width: 410px;
  height: 350px;
  display: grid;
  /* padding: 30px 50px; */
  border: none;
  /* border-radius: 5px; */
  /* display: none; */
  opacity: 1;
  padding: 50px 15px 50px 0px;
  text-align: center;
  border-radius: 5px;
  margin: auto;
  top: 50;
  left: 0;
  bottom: 50;
  right: 0;
}

/* #closeBtn {
    text-align: right;
    padding-right: 10px;
  } */

/* .LoginStats p {
    font-size: 20px;
    padding: 50px 15px 50px 0px;
    font-weight: 700;
  } */
.LoginstatusIcon {
  width: 80%;
  margin-left: 11%;
  margin-bottom: 30px;
}
.login {
  /* padding-bottom: 120px; */
  background-image: linear-gradient(to top left, #aa5ee9, #36a9e1);
  height: 100vh;
  padding-top: 150px;
}
.titleLog {
  font-size: 40px;
}
.loginContainer {
  background-color: rgb(233, 233, 233);
  margin: auto;
  width: 30%;
  text-align: center;
  padding: 20px 30px 30px 30px;
  border-radius: 5px;
}

.inputUsernameLogin {
  position: relative;
  width: 100%;
  height: 50px;
  padding: 0px 20px 0px 20px;
  font-size: 20px;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid #c6c6c6;
  outline: none;
  transition: all 0.2s ease-in-out;
}
.inputUsernameLogin:focus {
  border-bottom: 3px solid #36a9e1;
}

.inputPasswordLogin {
  width: 100%;
  height: 50px;
  margin-top: 15px;
  padding: 0px 20px 0px 20px;
  font-size: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #c6c6c6;
  outline: none;
  transition: all 0.2s ease-in-out;
}
.inputPasswordLogin:focus {
  border-bottom: 3px solid #36a9e1;
}
.fa-times {
  margin-left: 95%;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}

.loginUserBtn {
  width: 100%;
  background-color: #00142a;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 20px;
  display: grid;
  /* text-transform: uppercase; */
  letter-spacing: 2px;
  border-radius: 5px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.loginUserBtn:hover {
  background-color: #009744;
}

.forgotPass {
  text-decoration: none;
  font-size: 16px;
  margin-left: 5px;
  color: #00142a;
}

.forgotPass:hover {
  color: #009744;
}

.dontHaveAcc {
  text-decoration: none;
  font-size: 16px;
  margin-left: 5px;
  color: #00142a;
}
.dontHaveAcc:hover {
  color: #009744;
}

.dont {
  text-decoration: none;
  font-size: 16px;
  color: #00142a;
}

#popForgot {
  display: none;
  position: fixed;
  background-image: linear-gradient(to top left, #aa5ee9, #36a9e1);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

#modalForgot {
  position: absolute;
  /* left: 50%; */
  /* right: 50%; */

  top: 150px;
  border: solid black 1px;
  padding: 10px 25px;
  background-color: rgb(233, 233, 233);
  text-align: justify;
  font-size: 16px;
  width: 500px;
  display: grid;
  /* padding: 0px 30px; */
  /* height: 300px; */
  border: none;
  border-radius: 5px;
  margin: auto;
  top: 50;
  left: 0;
  bottom: 50;
  right: 0;
  /* height: 500px; */

  display: none;
}

#modalForgot p {
  margin-bottom: 20px;
  text-align: center;
}

#modalForgot h1 {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 10px;
}

#emailForgot {
  height: 40px;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 8px;
  /* margin-top: px; */
  border-radius: 5px;
  border: none;
  outline: none;
  border: 1px solid #c6c6c6;
}

#submitEmailForgot {
  /* height: 30px; */
  cursor: pointer;
  border: none;
  background-color: #009744;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 18px;
  border-radius: 5px;
}
#submitEmailForgot:hover {
  background-color: #007e39;
}
#emailForgot:focus {
  border: 2px solid #009744;
}

#backForgot {
  text-align: center;
  cursor: pointer;
  font-weight: normal;
  font-size: 15px;
}

#backForgot:hover {
  text-decoration: underline;
  /* margin-bottom: 20px; */
  /* font-weight: bold; */
}
#forgotPass {
  cursor: pointer;
}
#forgotPass:hover {
  color: #007e39;
}
.loginUserBtn {
  cursor: pointer;
}

#resetPasswordOut {
  /* display: none; */
  position: fixed;
  background-image: linear-gradient(to top left, #aa5ee9, #36a9e1);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

#resetPassMod_ {
  position: absolute;
  top: 130px;
  border: solid black 1px;
  padding: 10px 25px;
  background-color: rgb(233, 233, 233);
  text-align: justify;
  font-size: 16px;
  width: 500px;
  display: grid;

  border: none;
  border-radius: 5px;
  margin: auto;
  top: 50;
  left: 0;
  bottom: 50;
  right: 0;

  /* display: none; */
}

#forgot_pass_,
#forgot_passConfirm {
  /* height: 40px; */
  font-size: 20px;
  margin-bottom: 10px;
  padding: 8px;
  /* margin-top: px; */
  border-radius: 5px;
  border: none;
  outline: none;
  border: 1px solid #c6c6c6;
}

#updatePassForgot {
  cursor: pointer;
  border: none;
  background-color: #009744;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 18px;
  border-radius: 5px;
}

#resetPassMod_ h1 {
  text-align: center;
  /* margin-bottom: -10px; */
  /* margin-top: 10px; */
  font-family: "Quattrocento Sans", sans-serif;
  /* margin-bottom: 18px; */
}

#resetPassMod_ p {
  font-family: "Quattrocento Sans", sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

#updatePassForgot {
  margin-top: 10px;
}

#backForgot_ {
  text-align: center;
  cursor: pointer;
  font-weight: normal;
  font-size: 15px;
  /* font-family: "Quattrocento Sans", sans-serif; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quattrocento Sans", sans-serif;
}

#resetPassMod_ a {
  /* font-family: "Quattrocento Sans", sans-serif; */
  text-align: center;
  text-decoration: none;
  /* margin-bottom: 20px; */
  color: #00142a;
}

#resetPassMod_ a:hover {
  text-decoration: underline;
  /* margin-bottom: 20px; */
  /* font-weight: bold; */
}

#updatePassForgot:hover {
  background-color: #007e39;
}
#forgot_passConfirm:focus,
#forgot_pass_:focus {
  border: 2px solid #009744;
}

#fillMsg {
  text-align: center;
  background-color: red;
  padding: 10px;
  color: #fff;
  margin-bottom: 20px;
  display: none;
}

#fillMsg_ {
  text-align: center;
  background-color: red;
  padding: 10px;
  color: #fff;
  margin-bottom: 20px;
  display: none;
}

#fillMsg__ {
  text-align: center;
  background-color: red;
  padding: 10px;
  color: #fff;
  margin-bottom: 20px;
  display: none;
}

#modalForgot h4 {
  text-align: center;
  background-color: red;
  padding: 10px;
  color: #fff;
  margin-bottom: 20px;
  display: none;
}

#backToLogin_out {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.575);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: none;
}

#backToLogin_in {
  position: absolute;
  /* left: 50%; */
  /* right: 50%; */

  top: 120px;
  border: solid black 1px;
  /* padding: 10px 25px; */
  background-color: rgb(233, 233, 233);
  text-align: justify;
  font-size: 16px;
  width: 500px;
  display: grid;
  /* padding: 0px 30px; */
  /* height: 300px; */
  border: none;
  border-radius: 5px;
  margin: auto;
  top: 50;
  left: 0;
  bottom: 50;
  right: 0;
  /* height: 500px; */
  /* display: none; */
}

#backToLogin_in h1 {
  text-align: center;
  padding: 10px 0px 40px;
}
#backToLogin_in h2 {
  background-color: #009744;
  padding: 10px 20px;
  color: #fff;
  /* text-align: center; */
}

.checkCircle {
  font-size: 100px;
  text-align: center;
  /* padding: 20px; */
  color: #009744;
}

#backToLoginReset {
  text-decoration: none;
  background-color: #fff;
  border-style: solid;
  color: #009744;
  font-size: 20px;
  font-weight: bold;
  border-color: #009744;
  border-width: 2px;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  margin: 0px 30px 20px;
}
