.adminDash {
  background-color: rgb(240, 240, 240);
}
.boxes {
  margin-left: 200px;
  /* height: 100%; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  grid-template-areas: "numOfMem numofMemPavic";
}

.numOfMem {
  font-size: 20px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  background-color: rgb(0, 124, 37);
  color: #fff;
  border-radius: 5px;

  /* box-shadow: 1px 1px 5px black; */
  /* border-bottom: 5px solid;
    border-bottom-color: rgb(0, 255, 21); */
}

#adminLogout,
.logout_Admin {
  color: #fff;
  font-size: 20px;
}
.numTxt {
  margin-top: 20px;
  font-size: 60px;
  text-align: center;
}

.numOfMemPavic {
  font-size: 20px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  background-color: rgb(143, 133, 0);
  color: #fff;
  /* box-shadow: 1px 1px 5px black; */
  /* border-bottom: 5px solid;
    border-bottom-color: rgb(229, 255, 0); */
}

.numTxt2 {
  margin-top: 20px;
  font-size: 60px;
  text-align: center;
}
.barCharts {
  margin-left: 200px;
  /* margin-right: -200px; */
  margin-top: 30px;
  display: grid;
  width: 82%;
  /* height: 500px; */
  /* height: 50%; */
  grid-gap: 10px;
  grid-template-columns: 1fr 0.5fr;
  /* grid-template-rows: 0.2fr; */
  grid-template-areas: "barCont bar2Cont";
  /* background-color: rgb(0, 231, 0); */
}
.barCont {
  background-color: rgb(255, 255, 255);
  padding: 20px;
}
.bar {
  /* grid-area: bar; */
  /* margin-left: 200px; */
  width: 100%;
  /* height: 10px; */
}

.bar2Cont {
  /* grid-area: bar2; */
  /* margin-left: 200px; */
  width: 100%;
  /* height: 10px; */
  background-color: rgb(255, 255, 255);
  padding: 20px;
}

.statsGender {
  margin-bottom: 10px;
}

.memberStatsSub {
  margin-bottom: 10px;
}

.adminMemDiv,
.adminReqDiv {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.adminMemDiv:hover,
.adminReqDiv:hover {
  transform: scale(1.01);
  /* box-shadow: 1px 1px 10px #000; */
}
